<h3>New To-do</h3>

<form action="/new" method="POST">

	<label for="title">Title:</label>
	<input class="form-control" type="text" name="title">

	<label for="content">Content:</label>
	<input class="form-control" type="text" name="content">

	<label for="author">Author:</label>
	<input class="form-control" type="text" name="author">

	<input class="btn btn-primary mt-4" type="submit" value="create">

</form>